@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-weight: 300;
}

button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}

button:hover{
    opacity: 0.8;
    transition: ease-in-out;
    transform: scale(0.9);

}

/* navigation */

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
}

.navigation{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bar_icon{
    font-size: 32px;
}

/* Hero section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}
.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background: #077519;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}

.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

.explore_btn{
    background: #ffc066;
    align-self: flex-start;
}

/* features */
.features{
    padding: 100px;
    display: flex;
}

@media(max-width: 789px){
    .hero{
        flex-direction: column;
    }
    .hero_image{
        display:flex;
        justify-content: center;
    }
    .hero_image img{
        width: 90%;
    }
    .hero_content{
        gap:10px;
        padding: 10px;
    }
    .hero_content h1{
        font-size: 32px;
    }
}